<!DOCTYPE html>
<html lang ="es" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<h1><span>Agregar nuevo usuario</span></h1>
		<form action="#" th:action="@{/user}" method="POST">
		<table>
			<tbody>
				<tr>
					<td>ID:        <input type="text" name="id"/> <br/></td>
				</tr>
				<tr>
					<td>Nombre:    <input type="text" name="nombre"/><br/></td>
				</tr>
				<tr>
					<td>Apellido:  <input type="text" name="apellido"/> <br/></td>
				</tr>
				<tr>
					<td>Profesion: <input type="text" name="profesion"/><br/></td>
				</tr>
				<tr>
					<td>Email:     <input type="text" name="email"/><br/></td>
				</tr>
			</tbody>
		</table>
			<input type="submit" value="Agregar"/>
		</form>
</body>
</html>